<footer class="bg-dark text-white pt-5 pb-4">

    <div class="container text-start">

        <div class="row text-start">

            <div class=" mx-auto">
              <a class="footer-logo" href="#"><img src="img/logo-removebg-preview white.png" alt="logo"></a>
                <p style="text-align: left;"><br>
                    +971 55 490 6025 <br>
                    jamshidh971@gmail.com <br>
                    Al Khail Gate <br>
                    Al Quoz - Dubai <br>
                    United Arab Emirates
                </p>
                <div class="social-icons">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-github"></i>
                <i class="fa-solid fa-envelope"></i>
                </div>
                <hr>
            <div class="text-end mx-auto mt-3"> 
                <p>© Copyright 2022 By JAMSHIDH</p>


            </div>

        </div>

    </div>

</footer>