<%- include("partials/header"); -%>

<nav class="navbar navbar-expand-lg">
<div class="container mx-auto ">
    <img src="img/about.jpg" alt="about">
</div>
</nav>

<section>
    <div class="container mx-auto d-block">
       <div style="float: left;">
        <h5 id="about-h1">MY PHILOSOPHY</h5>
        <h2 id="about-h2">I have a Creative and Ambitious team.</h2>
        <p id="about-h3">I pride in creating memorable, exclusive and inspirational artistry website for all clients. <br> I promise to max out those achievement barriers to guarantee your brand is a <br>reputable champion online. <br></p>&nbsp;
            <p> I am specialize  in Full Stack  Web development, UI&UX Designs <br> Graphic Designing and digital marketing.</p>
        <a href="mailto:jamshidh971@gmail.com"><button type="button" class="btn"  style="background-color: rgb(0, 204, 255); color: #FFF;">Read More</button></a>
   
        </div>
</div>
</section>
<section>
<div class="container mx-auto">
    <div>
        <img src="img/domenico-loia-hgv2tfoh0ns-unsplash_orig.jpg" alt="about" style="width: 50%; height: 50%; margin-bottom: 15%; margin-top: 10%;">

    </div>
</div>


</section>

<section>

    <div class="container mx-auto d-block">


    </div>

</section>


<%- include("partials/footer"); -%>