<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jamshidh Tech</title>
    <link rel="icon"  href="img/favicon.ico">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<!-- css link -->
    <link rel="stylesheet" href="css/main.css">
    <a href="https://api.whatsapp.com/send?phone=+971589766344&text=Jamshidh Tech" class="float" target="_blank" style="position: fixed;																						
    width: 50px;
    height: 50px;
    bottom: 120px;
    right: 4%;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 31px;
    padding: 2px;
    z-index: 100;">
	<span class="channel-icon-whatsapp"></span>
<i class="fa fa-whatsapp my-float"></i>
</a>
</head>
<body>  
    <!-- Header section -->
    <section>  
         <div class="container-fluid bg-dark top-header mx-auto d-block">
          
        <div class="row">
            <div class="col text-center">
                <a href="#" class="number"></i>&nbsp;Let's Build Something Together!!!</a>
                
            </div>
        </div>
        
    </div>


<!--     
<nav class="navbar navbar-expand-lg">

  <div class="container">
  
    <ul class="nav navbar-nav ms-auto">
      <li>Stores</li>&nbsp;&nbsp;
      <li>Orders</li>&nbsp;&nbsp;
      <li>Contact</li>&nbsp;
    </ul>

  

</div>

</nav> -->
      


    

    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">

      
      <a class="navbar-brand" href="#"><img src="img/logo-removebg-preview.png" alt="" style="width: 20%;"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
      </div>
    </div>
    </nav> -->

<!-- Header -->

    <nav class="navbar navbar-expand-lg">
      <div class="container header">
        <a class="logo" href="/"><img src="img/logo-removebg-preview.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav navbar-nav ms-auto">
            <li class="nav-item">
              <a class="text" type="text" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="text" type="text" href="/about">About Me</a>
            </li>
            <li class="nav-item">
              <a class="text" type="text" href="/portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="text" type="text" href="/contact">Contact Me</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
 

</section>
<!-- Banner section  -->
<section>
   <nav class="navbar navbar-expand-lg">
    <div class="container mx-auto d-block">
            
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="img/Untitled-1.jpg" class="d-block w-100" alt="Banner">
            </div>
            <div class="carousel-item">
              <img src="img/curtain 1.jpg" class="d-block w-100" alt="Banner">
            </div>
            <div class="carousel-item">
              <img src="img/1303313d5f5c6__furniture_copy_4.jpg" class="d-block w-100" alt="Banner">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

</div>
</nav>
</section>

<!-- About Me Section -->
<section>
    <nav>
    
        <div class="container">
        <h4 style="font-weight: bold;">Professionally Certified Full Stack Web Developer | Digital marketer | E-commerce</h4>
        <p>
            I have extensive working knowledge in ecommerce and development , in my career I personally designed some professional websites. These upcoming days or completely working through the internet. So, let's get your store or company into the internet.
            
            I pride in creating memorable, exclusive and inspirational artistry for all clients. I promise to max out those achievement barriers to guarantee your brand is a reputable champion online.
            
            I am specialize in Full Stack  Web development, UI&UX Designs, Graphic Designing and digital marketing.</p> 
        
        </div>
        </nav> 
    </section>
<!-- What I Do section -->

<section>
<div class="container">
    <h1 class="text-center">WHAT I DO</h1><hr>
</div>
<div class="container mx-auto d-block">
    <div class="text-center">
        <div class="container">
            <div class="row">
              <div class="col">
                <a href="#" class="text"><i class="fa-solid fa-gauge fa-4x"></i>SPEED</a>
                <p>I apply the same creative lens to <br> any client brief – I'm committed to <br> making your content standout from  <br> the crowd</p>
                </div>
              <div class="col">
                <a href="#" class="text"><i class="fa-solid fa-chart-simple fa-4x"></i>VALUE</a>
                <p>I want to be the best partner I can <br> be to our clients. I will challenge you. <br>I'm n’t afraid to take risks.</p>
              </div>
              <div class="col">
                <a href="#" class="text"><i class="fa-solid fa-bolt fa-4x"></i>QUALITY</a>
                <p>I believe you’re only ever as good as <br> your last job.</p>
              </div>
            </div>
          </div>
    
    </div>
</div>
</section>

<!-- Latest Work section -->
<section>

<div class="container text-center">
    <h1>LATEST WORKS</h1><hr>
    <p>Look at all of my projects and designs</p>

</div>

</section>

<!-- Images section -->

<section>
    <div class="container">
        <div class="row">
          <div class="col">
            <a href="" class=""><img src="img\afferve.jpg" alt="Images" style="height: 80%;" ></a>
            </div>
          <div class="col">
            <a href=""><img src="img\barq3-1.jpg" alt="Images" style="height: 80%;"></a>
          </div>
          <div class="col">
            <a href=""><img src="img\bluebery.jpg" alt="Images" style="height: 80%;"></a>
          </div>
          <div class="col">
            <a href=""><img src="img\bonair02.jpg" alt="Images" style="height: 80%;"></a>
          </div>
        </div>
      </div>
</section>
<!-- Images Section 2 -->

<section>
    <div class="container">
        <div class="row">
          <div class="col">
            <a href="" class=""><img src="img\chailmilky05.jpg" alt="Images" style="height: 90%;"></a>
            </div>
          <div class="col">
            <a href=""><img src="img\chaiweb-1.jpg" alt="Images" style="height: 90%;"></a>
          </div>
          <div class="col">
            <a href=""><img src="img\cis1.jpg" alt="Images" style="height: 90%;"></a>
          </div>
          <div class="col">
            <a href=""><img src="img\Screen-Shot-2021-03-19-at-12.00.12-AM-900x900.png" alt="Images" style="height: 90%;"></a>
          </div>
        </div>
      </div>
</section>

<!-- Our Services section -->

<section>
    <div class="container text-center">
        <h1 class="">SERVICES OFFERED</h1><hr>          
                <div class="Services">
                <div class="row">
                  <div class="col">
                    <a href="#" class="text"><i class="fa-solid fa-star fa-4x"></i>DIGITAL MARKETING</a>
                    </div>
                  <div class="col">
                    <a href="#" class="text"><i class="fa-solid fa-camera-retro fa-4x"></i>THE BRAND EXPERT</a>
                  </div>
                  <div class="col">
                    <a href="#" class="text"><i class="fa-solid fa-inbox fa-4x"></i>GRAPHIC DESIGNING</a>
                  </div>
                </div>
                <div class="service-1">
                <div class="row">
                    <div class="col">
                      <a href="#" class="text"><i class="fa-solid fa-pen-fancy fa-4x"></i></i>CONTENT WRITING</a>
                      </div>
                    <div class="col">
                      <a href="#" class="text"><i class="fa-solid fa-code fa-4x"></i>WEB DESIGNING & HOSTING</a>
                    </div>
                    <div class="col">
                      <a href="#" class="text"><i class="fa-solid fa-users fa-4x"></i>SOCIAL MEDIA</a>
                    </div>
                  </div>
                </div>
                </div>
              </div>
        
        </div>
    </div>
  </div>
</section>

<!-- <section>

<div class="container mx-auto d-block" id="empty">
<img src="" alt="form">
</div>

</section> -->



<!-- <div class="container mx-auto d-block">
<form action="#">
  <h4>Drop A Details!</h4>
  <div class="row">
    <div class="col">
      <label for="Name">Name</label>
      <input type="text" class="form-control" placeholder="Name" aria-label="First name">
    </div>
    <div class="col">
      <label for="Email">Email</label>
      <input type="email" class="form-control" placeholder="Email" aria-label="Last name">
    </div>
  </div>
  <div class="col">
    <label for="message">Message</label>
    <input type="message" class="form-control" placeholder="message" aria-label="Last name">
  </div>
</div>
<div class="container">
  <button class="btn btn-dark" id="submit" style="margin-top: 2%; margin-bottom: 2%;">Submit</button>
</div> -->
<!-- </form> -->

<div class="form-area">
  <div class="container">
      <div class="row single-form g-0">
          <div class="col-sm-12 col-lg-6">
              <div class="left">
                <img src="img/Form.jpg" alt="">
                  <!-- <h2><span>Contact Us for</span> <br>Business Enquies</h2> -->
              </div>
          </div>
          <div class="col-sm-12 col-lg-6 mx-auto d-block">
              <div class="right">
                
                  <form style="margin-top: 20.4%;">
                    <h4 class="text-center">Drop A Details!</h4>
                    <div class="mb-3">
                      <label for="text" class="form-label">Your Name</label>
                      <input type="text" class="form-control" id="text" aria-describedby="text">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Message</label>
                        <textarea type="password" class="form-control" id="exampleInputPassword1"></textarea>
                    </div>
                    <button type="submit" class="btn btn-dark">Submit</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>



<!-- Footer Section -->
<section>
<footer class="bg-dark text-white pt-5 pb-4">

    <div class="container text-start">

        <div class="row text-start">

            <div class=" mx-auto">
              <a class="footer-logo" href="#"><img src="img/logo-removebg-preview white.png" alt="logo"></a>
                <p style="text-align: left;"><br>
                    +971 55 490 6025 <br>
                    jamshidh971@gmail.com <br>
                    Al Khail Gate <br>
                    Al Quoz - Dubai <br>
                    United Arab Emirates
                </p>
                <div class="social-icons">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-github"></i>
                <i class="fa-solid fa-envelope"></i>
                </div>
                <hr>
            <div class="text-end mx-auto mt-3"> 
                <p>© Copyright 2022 By JAMSHIDH</p>


            </div>

        </div>

    </div>

</footer>


</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/3d0feed28e.js" crossorigin="anonymous"></script>
</body>
</html