<%- include("partials/header"); -%>
<div class="container mx-auto d-block">


<h2 class="text-center">My Portfolio.</h2>
<hr>
<p class="text-center">The designer knows he has reached perfection not when he has nothing to add, but when there is nothing to remove.</p>
<div class="row">
    <div class="col">
<div class="text-center" id="portfolio">
    
            <a href="#" class="text">Website</a>&nbsp;&nbsp;&nbsp;
            <a href="#" class="text">E-commerce</a>&nbsp;&nbsp;&nbsp;
            <a href="#" class="text">Digital Marketing</a>&nbsp;&nbsp;&nbsp;
            <a href="#" class="text">Graphic Design</a>&nbsp;&nbsp;&nbsp;
            <a href="#" class="text">Branding</a>&nbsp;&nbsp;&nbsp;
    
</div>    
    </div>
</div>
</div>

<%- include("partials/footer"); -%>